* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: lightgray;
}

.main {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
  padding: 12px;
}

h1 {
  padding: 20px;
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: snow;
  box-shadow: 5px 10px 18px #888;
}

.card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  border: 1px solid lightgray;
  font-weight: normal;
}

.card-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  padding: 0 12px;
  width: 100%;
  height: 40px;
}

.todo-item {
  text-align: left;
  flex: 1;
  padding: 0 6px;
  font-weight: normal;
}

.input-task {
  padding: 5px 0;
  font-size: 14px;
  border: none;
  flex: 1;
}

.input-task1 {
  padding: 5px;
  font-size: 16px;
  border: none;
  flex: 1;
}

.input-task:focus,
.input-task1:focus {
  outline: none;
}

.btn-item {
  padding: 0;
}

#add-btn {
  border: none;
  cursor: pointer;
  background: none;
}

.btn-remove {
  border: none;
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.fa-trash-alt,
.fa-sync-alt,
.fa-plus {
  cursor: pointer;
  font-size: 24px;
  color: #575454;
}

.textedit {
  background: honeydew;
}

.list-item input:checked + input {
  text-decoration: line-through;
}

.hidden {
  display: none;
}
